<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4ps</title>
    {% include 'header_links.html' %}
</head>
<body>
    
    <div class="loader-4ps" style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center">
        <h1 style="font-size: 10rem;" class="fw-bolder">4ps</h1>
    </div>
    {% include 'nav.html' %}
    <div class="container register" style="display: none;">
        <div style="background-color: rgb(172, 172, 172);" class="d-flex justify-content-center p-4">
            <div class="d-flex flex-row align-items-center">
                <i class="bi bi-info-circle"></i>
                <p class="mb-0 ms-2">ABOUT US</p>
            </div>
        </div>        
        <div class="d-flex justify-content-center pt-5 pb-5">
            <p style="width: 70%; text-align: justify;">
                At 4PsAnalyticsHub, we are committed to transforming the Pantawid Pamilyang Pilipino Program (4Ps) through the power of data analytics. By leveraging advanced analytical tools and techniques, we turn vast amounts of beneficiary data into actionable insights. Our goal is to identify trends, optimize resource allocation, and predict future needs to improve the efficiency and impact of the program. With data-driven decision-making, we aim to better target vulnerable families, enhance service delivery, and monitor the effectiveness of interventions. Ultimately, we strive to maximize government resources, strengthen social welfare, and contribute to the long-term goal of poverty reduction in the Philippines.
            </p>
        </div>        
    </div>
    <div class="container register" style="display: none;">
        <div style="background-color: rgb(172, 172, 172);" class="d-flex justify-content-center p-4">
            <div class="d-flex flex-row align-items-center">
                <i class="bi bi-telephone"></i>
                <p class="mb-0 ms-2">CONTACT US</p>
            </div>
        </div>        
        <div class="d-flex flex-column align-items-center justify-content-center pt-5 pb-5">
            <h5 class="mb-3">General Inquiries</h5>
            <div class="d-flex">
                <i class="bi bi-envelope me-2"></i>
                <p class="mb-0">andreipinauin@gmail.com</p>
            </div>
            <div class="d-flex">
                <i class="bi bi-envelope me-2"></i>
                <p class="mb-0">vhencagsawa@gmail.com</p>
            </div>
            <div class="d-flex">
                <i class="bi bi-telephone me-2"></i>
                <p class="mb-0">+63 912 345 6789</p> <!-- Example phone number -->
            </div>
        </div>                      
    </div>

    {% include 'footer_links.html' %}
</body>
</html>