<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4ps</title>
    {% include 'header_links.html' %}
</head>
<body>
    
    <div class="loader-4ps" style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center">
        <h1 style="font-size: 10rem;" class="fw-bolder">4ps</h1>
    </div>
    {% include 'nav.html' %}
    <div class="container register" style="display: none;">
        <div class="row">
            <div class="col-12 col-md-12 d-flex flex-column justify-content-center align-items-center" style="height: 80vh; width: 100%">
                <h1 style="font-size: 10rem;" class="fw-bolder">4ps</h1>
                <p class="text-uppercase m-0 p-0" style="letter-spacing: 2px;">Empowering 4Ps Communities</p>
                <p class="text-uppercase m-0 p-0" style="letter-spacing: 2px;">ThroughData-Driven Precision for a Brighter</p>
                <p class="text-uppercase m-0 p-0" style="letter-spacing: 2px;">Tomorrow</p>
            </div>
        </div>
    </div>

    {% include 'footer_links.html' %}
</body>
</html>