<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4ps</title>
    {% include 'header_links.html' %}
</head>
<body>
    
    <div class="loader-4ps" style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; background-color: white">
        <img src="../static/img/logo.png" class="m-0 p-0" alt="">
    </div>
    {% include 'nav.html' %}
    <div class="container register" style="display: none;">
        <div class="row justify-content-center g-3">
            <div class="col-12 col-md-4">
                <div class="p-4 text-center border bg-card rounded-4">
                    <p class="m-0">INCOME LEVEL</p>
                    <h1 class="fw-bolder m-0">52%</h1>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="p-4 text-center border bg-card rounded-4">
                    <p class="m-0">EDUCATION</p>
                    <h1 class="fw-bolder m-0">45%</h1>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="p-4 text-center border bg-card rounded-4">
                    <p class="m-0">EMPLOYMENT STATUS</p>
                    <h1 class="fw-bolder m-0">38%</h1>
                </div>
            </div>
        </div>
        <div class="p-2 mt-2">
            <div class="row border bg-card rounded-4">
                <div class="col-12">
                    <div id="dashboard" class="p-4"></div>
                </div>
            </div>
        </div>
    </div>
    
    
    {% include 'footer_links.html' %}
</body>
</html>