<div style="background-color: white;" class="sticky-top">
    <div class="container z-index-3 d-flex justify-content-between align-items-center">
        <button class="btn border"><i class="bi bi-list"></i></button>
        <div class="p-2">
            <a href="/home" class="px-3 btn text-dark fw-bolder" style="text-decoration: none; font-size: 1rem">HOME</a>
            <a href="/dashboard" class="px-3 btn text-dark fw-bolder" style="text-decoration: none; font-size: 1rem">DASHBOARD</a>
            <a href="/home" class="px-3 btn text-dark fw-bolder" style="text-decoration: none; font-size: 1rem">4Ps</a>
            <a href="trends" class="px-3 btn text-dark fw-bolder" style="text-decoration: none; font-size: 1rem">TRENDS</a>
            <a href="/about" class="px-3 btn text-dark fw-bolder" style="text-decoration: none; font-size: 1rem">ABOUT US</a>
        </div>
        <a class="btn border" href="/"><i class="bi bi-power"></i></a>
    </div>
</div>
